:root {
  background: rgb(255, 248, 230);
  --bug: rgb(176, 191, 48);
  --dark: rgb(54, 42, 30);
  --dragon: rgb(104, 87, 191);
  --electric: rgb(245, 196, 245);
  --fairy: rgb(253, 182, 21);
  --fighting: rgb(131, 57, 36);
  --fire: rgb(237, 64, 14);
  --flying: rgb(141, 159, 235);
  --ghost: rgb(98, 95, 179);
  --grass: rgb(103, 188, 43);
  --ground: rgb(208, 174, 84);
  --ice: rgb(164, 230, 251);
  --normal: rgb(193, 189, 175);
  --poison: rgb(145, 68, 148);
  --psychic: rgb(221, 70, 123);
  --rock: rgb(161, 140, 79);
  --steel: rgb(172, 173, 185);
  --water: rgb(46, 133, 220);
}
body {
  margin: 1em;
}
.main-content {
  display: flex;
  justify-content: space-between;
}

nav {
  border-right: solid rgb(170, 163, 163) 2px;
  width: 20vw;
}
nav .region {
  margin: 0.7em auto;
  height: 4em;
  font-family: 'Press Start 2P', cursive;
  display: block;
  background-color: inherit;
  border: none;
  font-size: 1.3em;
  transform: 500;
}
nav .region:hover {
  cursor: pointer;
  color: blue;
}
h1 {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 1.5em 0;
}
main {
  width: 96vw;
  margin-right: 1em;
  padding-top: 5em;
}

.entry {
  height: 20em;
  width: 250px;
  border-radius: 20px;
  margin: -5em 1em;
  border: solid black 1px;
  display: inline-block;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.entry:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front {
  background-color: white;
  height: 93.6%;
  border-radius: inherit;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  padding-top: 8%;
  backface-visibility: hidden;
}
.front .poke-id-container .poke-id {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}
.front img {
  width: 60%;
  margin: 1em 20% 0 20%;
}

.front .name {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.4em;
  margin-top: 1em;
}
.front .type {
  width: 90%;
  font-size: 80%;
  font-family: 'Orbitron', sans-serif;
  color: white;
  height: 3em;
  margin: 1.5em 5% 0 5%;
  text-align: center;
}
.front .type span {
  width: 6em;
  border-radius: 50px;
  padding: 0.4em 0.8em;
  border: solid black 1px;
  font-size: 100%;
  display: inline-block;
  margin: 0 0.4em;
}

.back {
  height: 92.2%;
  border-radius: inherit;
  padding: 5%;
  bottom: 100%;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  background-color: white;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.back .back-pokemon {
  height: 3em;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-bottom: dashed gray 1px;
}
.back .back-pokemon .back-name {
  margin: auto 0;
}
.back .back-pokemon .back-sprite img {
  height: 3em;
  width: 3em;
}
.back .stats {
  width: 100%;
  margin-top: 1.5em;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 2em;
}
.back .stats div {
  display: inline-block;
  width: 100%;
}
.back .stats div span {
  display: block;
}
.back .stats div .stats-title {
  font-size: 0.9em;
  margin-bottom: 0.9em;
}
.back .stats div .stats-value {
  font-size: 0.6em;
}

footer {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  height: 2em;
  align-content: center;
}
